{% if site.data.bio.skills %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">{{ site.skills }}</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
      {% for entry in site.data.bio.skills %}
      <p class="ui no-bottom">
        <b>{{ entry.name }}:</b> <br>
        <div class="ui grid">
          <div class="one wide column" style="margin: 1em; min-width: 10em;">
            {% for keyword in entry.keywordslabel %}
            <div class="row" style="height: 2em">
              {{ keyword }}
            </div>
            {% endfor %}
          </div>
          <div class="four wide column" style="margin: 1em; min-width: 15em;">
            {% for level in entry.keywordslevel %}
            <div class="row" style="height: 2em">
              <div class="ui blue progress no-bottom" style="width: 10em">
                <div class="bar" style="transition-duration: 300ms;height: 1em; width: {{ level }}%"></div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endif %}
