<div class="row">
  <div class="two wide column">
    <div class="nonprintable">
      <h3 class="ui left aligned header no-bottom">Contact</h3>
    </div>
  </div>

  <div class="twelve wide column no-bottom">
    <div class="ui form">
      <div class="nonprintable">
        <div class="fields">
          <div class="six wide field">
            <label for="edName">Nom</label>
            <input placeholder="Votre Nom" type="text" id="edName">
          </div>
          <div class="ten wide field">
            <label for="edSubject">Sujet</label>
            <input placeholder="Sujet du Message" type="text" id="edSubject">
          </div>
        </div>
        <div class="field">
          <label for="edBody">Text</label>
          <textarea id="edBody" placeholder="Ecrivez votre message ici"></textarea>
        </div>
        <div class="row center">
          <div class="ui submit button" onclick="sendMail()">Valider</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function sendMail() {
        <!--Tester les donnees-->
        if (document.getElementById("edName").value.length===0) {
            alert("Merci d'entrer votre Nom");
            return;
        }
        if (document.getElementById("edSubject").value.length===0) {
            alert("Merci d'entrer un Sujet");
            return;
        }
        if (document.getElementById("edBody").value.length===0) {
            alert("Merci de renseigner un Message");
            return;
        }
        <!--Encoder l'url mailto-->
        <!--Ouvrir client messagerie-->
        document.location="mailto:" + encodeURIComponent("{{ site.data.bio.basics.email }}")
                + "?subject=" + encodeURIComponent(document.getElementById("edSubject").value + " || envoyé par " + document.getElementById("edName").value)
                + "&body=" + encodeURIComponent(document.getElementById("edBody").value);
    }
</script>
