<div class="row">
  <div class="three wide column center">
    <p class="ui red label">{{ include.page.date | date_to_string }}</p>
  </div>

  <div class="ten wide column">
    <h2 class="header">{{ include.page.title }}</h2>
    <p>{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>

    <div class="ui mini labels center">
      {% for label in include.page.labels %}
        <div class="ui basic label">
            <p>{{ label }}</p>
        </div>
      {% endfor %}
    </div>

    <div class="center">
      <a class="ui basic button" href="{{ site.baseurl }}{{ include.page.url }}">{{ site.more }}</a>
    </div>
  </div>
</div>
