<head>
  <meta charset="utf-8" lang="fr">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.layout == site.home-page-label %}
    {% include meta-Accueil.html %}
  {% endif %}
  {% if page.layout == site.projects-page-label %}
    {% include meta-Projets.html %}
  {% endif %}
  {% if page.layout == site.essays-page-label %}
    {% include meta-Publications.html %}
  {% endif %}
  {% if page.layout == site.bio-page-label %}
    {% include meta-CV.html %}
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="alternate" href="https://jeanlrnt.github.io/Portfolio_FR" hreflang="fr-fr">

  <link rel="icon" href="{{ site.baseurl }}/{{ site.icon }}" />
  <title>
    {% if page.title %}
      {{ page.title }} |
    {% else %}
      {{ page.layout }} |
    {% endif %}
    {{ site.title }}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/semantic-ui/semantic.min.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/stylesheet.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/print.css" media="print">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166297658-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166297658-1');
  </script>


</head>
