<div class="row">
  <div class="three wide column center">
    {% if include.page.image %}
    <img class="ui middle aligned medium circular image" src="{{ site.baseurl }}/{{ include.page.image }}" alt="{{ include.page.image }}">
    {% endif %}
  </div>

  <div class="six wide column">
    <h2 class="header no-bottom">{{ include.page.title }}</h2>
    <p class="">{{ include.page.date }}</p>
    <p>{{ include.page.summary }}</p>

    <div class="ui mini labels center">
      {% for label in include.page.labels %}
        <div class="ui basic label">
          <p>{{ label }}</p>
        </div>
      {% endfor %}
    </div>

    <div class="center">
      {% if page.projecturl %}
        <a class="ui basic button" href="{{ page.projecturl }}">{{ site.more }}</a>
      {% else %}
        <a class="ui basic button" href="{{ site.baseurl}}{{ include.page.url }}">{{ site.more }}</a>
      {% endif %}
    </div>
  </div>
</div>
