<!DOCTYPE html>
<html lang="fr-FR">

  {% include head.html %}

  <body>
    {{ content }}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Portfolio Jean Laurent",
        "author": {
          "@type": "Person",
          "name": "Jean Laurent"
        },
        "url": "http://www.v1.jeanlaurent.fr",
        "address": "87000 Limoges",
        "sameAs": [
          "https://www.facebook.com/jean.laurent.9212",
          "https://github.com/jeanlrnt",
          "https://twitter.com/jean_lrnt",
          "https://www.instagram.com/jeaan_lrnt/",
          "https://www.linkedin.com/in/jeanlrnt/"
        ]
      }
    </script>
  </body>

</html>
