---
layout: Accueil
---

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

{% include menubar.html active="" %}

<div style="padding-top: 20px" class="ui container ">
  <p>Je suis désolé, cette URL n'a pas pu être trouvée. Peut-être cherchiez-vous l'un des éléments suivants :</p>

  {% if num_essays > 0 %}<h3>{{ page.essays }}</h3>{% endif %}
  <ul>
    {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

  {% if num_projects > 0 %}<h3>{{ page.projects }}</h3>{% endif %}
  <ul>
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

</div>
{% include footer.html %}
